.location {
	text-align: center;
	width: 33%;
}
@media (max-width:1399px) {  
    .max-width{
        width: 100%;
        max-width: 100%;
        margin: auto;
        padding-left: 25px;
        padding-right: 25px;
        box-sizing: border-box;
    }
    .web {
        max-width: 19%;
        margin: 70px 33px 120px;
    }
}
@media (max-width:1200px) {
    .web {
        max-width: 18%;
        margin: 60px 33px 120px;
    }
    .web span {
        font-size: 37px;
        margin: 15px;
    }
    .web h2 {
        font-size: 22px;
    }
    .web p {
        font-size: 15px;
    }
    .content h2 {
        font-size: 20px;
        margin: 10px 0px;
    }
    .content p {
        font-size: 15px;
    }    

}

@media (max-width:992px) {
    .header-left h2 {
        font-size: 25px;
        padding: 19px 0px;
    }
    .header-right ul li a {
        font-size: 14px;
        line-height: 67px;
        padding: 0px 8px;
    }
    .bunner-content h1 {
        font-size: 40px;
    }
    .bunner-content p {
        font-size: 18px;
        margin: 16px 0px;
    }
    .bunner-content a {
        padding: 8px 18px;
        font-size: 18px;
        margin-top: 14px;
    }
    .bunner-section {
        padding: 151px;
    }
    .web {
        max-width: 17%;
        margin: 58px 33px 120px;
    }
    .web span {
        font-size: 35px;
        margin: 12px;
    }
    .web h2 {
        font-size: 20px;
    }
    .web p {
        font-size: 15px;
    }
    .content-left {
        width: 100%;
        margin-bottom: -18px;
    }
    .content-left img {
        min-width: 100%;
    }
    .content-right {
        width: 100%;
        margin-bottom: 40px;
    }
}
@media (max-width:900px) {
    .web {
        max-width: 41%;
        margin: 39px 33px 45px;
    }
}
@media (max-width:790px) {
    .header-left {
        float: none;
        text-align: center;
    }
    .header-right {
        float: none;
    }
    .header-right ul {
        text-align: center;
    }
    .header-left h2 {
        padding: 10px 0px;
        padding-bottom: 3px;
    }
    .header-right ul li a {
        line-height: 40px;
    }
    .bunner-content h1 {
        font-size: 35px;
    }
    .bunner-content p {
        font-size: 16px;
        margin: 16px 0px;
    }
    .bunner-content a {
        padding: 8px 18px;
        font-size: 16px;
        margin-top: 14px;
    }
    .bunner-section {
        padding: 125px;
    }
    .service h2 {
        font-size: 32px;
        font-weight: 700;
        margin-top: 65px;
        margin-bottom: 15px;
        color: #555555;
    }
    .service p {
        color: #828282;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
    }
    .web {
        max-width: 39%;
    }
    .about h2 {
        font-size: 32px;
        margin-top: 65px;
        margin-bottom: 15px;
    }
    .contact h2 {
        font-size: 36px;
        margin-top: 40px;
        margin-bottom: 15px;
    }
}
@media (max-width:660px) {
    .bunner-content h1 {
        font-size: 26px;
    }
    .bunner-content a {
        padding: 6px 16px;
        font-size: 16px;
        margin-top: 9px;
    }
    .bunner-section {
        padding: 76px;
    }
    .web {
        max-width: 37%;
    }
    .location p {
        font-size: 15px;
}
@media (max-width:576px) {
    .header-left h2 {
        font-size: 22px;
    }
    .header-right ul li a {
        font-size: 12px;
        padding: 0px 5px;
    }
    .bunner-content p {
        font-size: 16px;
        margin: 16px 0px;
    }
    .bunner-content h1 {
        font-size: 21px;
    }
    .bunner-content a {
        padding: 4px 20px;
        font-size: 14px;
        margin-top: 5px;
    }
    .bunner-section {
        padding: 76px;
    }
    .service p {
        font-size: 16px;
    }
    .web {
        max-width: 100%;
        padding: 20px;
        box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.116);
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .service h2 {
        font-size: 26px;
        margin-top: 50px;
        margin-bottom: 8px;
    }
    .service p {
        font-size: 15px;
    }
    .about h2 {
        font-size: 26px;
        margin-top: 50px;
        margin-bottom: 8px;
    }
    .about p {
        font-size: 15px;
    }
    .contact h2 {
        font-size: 26px;
        margin-top: 40px;
        margin-bottom: 8px;
    }
    .contact p {
        font-size: 15px;
    }
    .location {
        width: 100%;
        margin: 30px 0px;
    }
    .footer-icon ul li a {
        font-size: 18px;
        padding: 17px 10px;
    }
    .footer p {
        font-size: 14px;
        padding: 14px 0px;
    }
}